.tableWrapper {
	margin: 0;
}

.table {
	border-collapse: collapse;
	width: 100%;
}

.header {
	background-color: var(--body);
	border-bottom: 2px solid var(--light);
	border-top: 2px solid var(--light);
	padding: 14px;
	color: #95aac9;
	line-height: 1.5;
	font-size: 8px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border-spacing: 2px;
	text-align: left;
	cursor: pointer;
}

.sortIconContainer {
	display: inline;
	margin-left: 1px;

	&.up {
		vertical-align: text-bottom;
	}

	&.down {
		vertical-align: text-top;
	}
}

.element {
	color: var(--dark);
	font-size: 12px;
	text-align: left;
}

.rowWrapper {
	& > td {
		border-bottom: 2px solid var(--light);
		padding: 16px 12px;
		line-height: 1.5;
		letter-spacing: 1px;
		border-spacing: 2px;
		background-color: white;

		& > a {
			color: var(--blue);
		}
	}
}

.noResult {
	font-size: 14px;
	color: var(--dark);
}
